services:
  web:
    container_name: fabspace-web
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    ports:
      - 9000:9000
    networks:
      - app_network

# Define a network, which allows containers to communicate
# with each other, by using their container name as a hostname
networks:
  app_network:
    driver: bridge